/* 
  This styles every element on the page to include padding and border-measurments
  when calculating the width and height of elements. 

  Normally, the actual width of an element is calculted like so: 
    actual width = width property + padding property + border property

  Now, because we set box-sizing to border-box, the width is going to be the 
  width of the whole element is going to be the width that we state is going to b epart of 
  the width property for that element. 
    actual width = width property = content width +padding + border. 
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* 
  This styles the nav to have no padding inside the naviagtion bar. 
*/
nav {
  padding: 0;
}

nav ul {
  /* 
    This styles the navigation's unordered list to be  aflex-box container.
    Flex-box containers-typically helpd with designing responsive webpages. 
  */
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;

  /* 
    This allows our flex items to wrap to the next line when we run out of space to display them. 
  */
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  /* 
    This allows the flex container to display items vertically as aopposed to horizontally (column), which is the default.

  */
  /* 
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; 
  */

  /* 
    The justify content property allows us to align items in the same direction that teh flex container is 
    displaying our items in. 

    So, for a horizontal layout, it allows us to align items horizontaly.
    For a vertical layout, it allows us to align items in vertically.

    Value sfo rjustify-conetnt include:
    - flex start - align the items to the start of the container
    - flex-end - align the items to the end of teh container
    - center - aligns the items to teh center if teh container
    - space-between - puts space between each item in the container but does not add space to the left of the first
      item or the right of the last item. 
    - space-around - puts space around each item in the container.

  */
  -webkit-box-pack: space-around;

  -webkit-justify-content: space-around;

  -moz-box-pack: space-around;

  -ms-flex-pack: space-around;

  justify-content: space-around;
}
/* 
  This styles the anchors inside the navigation bar to fill the width and the
  height of the list items they are inside.
*/
nav ul li a {
  width: 100%;
  height: 100%;

  padding: 1 vw;
}
