* {
  line-height: 180%;
}

/*
  The external stylesheet containing all styles that should stay consistent throughout the website.

  The body of the website should:
  - have a background color of #fbfbfe
*/
body {
  background-color: #fbfbfe;
  margin: 20px, 5px;
}
/* 
  The .nav-link class, used for navigational links, should:
  - have a display of inline-block, margin of 5px, padding of 10px
  - font size of 23px, font family of "Georgia, "Times New Roman", Cambria, serif
  and a font-weight of bold
  - have a background color of #f1f1f1 and text color of #f24c05 
*/
/* WHAT SHOULD I DO HERE??? (CLASS COMMENT) */
.nav-link {
  display: inline-block;
  overflow: hidden;
  margin: 5px;
  padding: 10px;

  font-size: 2rem;
  font-family: Georgia, "Times New Roman", Cambria, serif;
  font-weight: bold;

  background-color: #e5fff7;
  color: #323140;
}
nav ul {
  background-color: #e5fff7;
}
/* 
  The nav ul li should have:
  - a display of inline-block
  - a margin of 10 pixels
  - a font-size of 20 pixels
*/
nav ul li {
  display: inline-block;
  margin: 10px;
  font-size: 20px;
}

nav a:hover,
nav a:focus {
  background-color: #94ffe8;
  color: #494856;
}
/* 
  The h1 should be:
  - aligned to the center
  - have a font-size of 45 pixels
  - have the color of #323140
*/
h1 {
  text-align: center;
  font-size: 4rem;
  color: #323140;
}
/*
  The h2 should have:
  - a font-size of 35 pixels
  - a color of #323140
*/
h2 {
  font-size: 3.5rem;
  color: #323140;
  margin: 15px, 10px;
}
/* 
  The h3 should have:
  - a font-size of 28 pixels
  - a color of #f27405
  http://colorsafe.co/ 
*/
h3 {
  font-size: 3rem;
  font-weight: bold;
  color: #9e2510;
}
/* 
  The paragraphs should be:
  - in the font-size of 24 pixels
  - in the font family of Georgia, "Times New Roman", Cambria, serif
  - in the color of #323140 
*/
p {
  font-size: 1.9rem;
  font-family: Georgia, "Times New Roman", Cambria, serif;
  color: #323140;
  padding: 2px;
}
/* 
  The divs should have:
  - a background color of #f2f2f2.
  - a width of auto
  - a height of 200 pixels
  - a border-radius of 5 pixels
  - a padding of 10 on top and bottom, 20 pixels on the right and left. 
*/
section {
  background-color: #f6f6f6;
  width: auto;
  height: auto;
  border-radius: 5px;
  padding: 2px 25px;
}
figcaption p {
  font-size: 1.4rem;
  line-height: 25px;
  font-family: "Times New Roman", Times, serif;
}
#website-link {
  list-style: none;
  font-size: 1.3rem;
}
